POSTGRES_DB=learnhanzi_auth_db
POSTGRES_USER=learnhanzi_auth_user
POSTGRES_PASSWORD=learnhanzi_auth_password

DATABASE_URL=postgresql+psycopg2://learnhanzi_auth_user:learnhanzi_auth_password@db:5432/learnhanzi_auth_db

JWT_SECRET_KEY=change-me-super-secret
JWT_ALGORITHM=HS256
JWT_ISSUER=learnhanzi-auth-service
JWT_AUDIENCE=learnhanzi-services
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

FRONTEND_URL=http://localhost:5173